.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.section1 {
    flex: 60%;
    border: 1px solid #ccc;
    padding: 10px;
}

.section2 {
    flex: 40%;
    border: 1px solid #ccc;
    padding: 10px;
}
